/* navbar */
header {

  margin-bottom: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

nav {
  width: 90%;
  margin: 0 auto;
  display: flex;
  height: 80px;

  align-items: center;
  justify-content: space-between;
}

ul {
  display: flex;
  text-decoration: none;
  list-style-type: none;
}

li {
  margin-left: 40px;
}

/* Home */

#summer-collection {
	width: 100%;
	display: block;
	margin: 6rem 0rem;
}

#summer-collection .container {
	margin: 0 auto;
	width: 80%;
	background-color: #ffffff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

#summer-collection .container .sc-content {
	width: 60%;
	padding-top: 3.4rem;
	padding-right: 3rem;
	padding-bottom: 2rem;
}

#summer-collection .container .sc-content h1 {
	font-family: "Franklin Gothic Medium";
	color: #000000;
	font-size: 4rem;
	font-weight: 800;
	letter-spacing: 1rem;
	line-height: 6rem;
	text-transform: uppercase;
	margin-bottom: 2vw;
}

#summer-collection .container .sc-content p.description {
	font-family: Cambria;
	color: rgba(89, 89, 89, 0.8);
	font-size: 1rem;
	font-style: italic;
	line-height: 2rem;
	margin-bottom: 4vw;
	padding-right: 4rem;
}

#summer-collection .container .sc-content a {
	border-bottom: 2px solid #a61458;
	text-decoration: none;
	font-family: "Franklin Gothic Medium";
	color: #000000;
	font-weight: 400;
	text-transform: uppercase;
}

#summer-collection .container .sc-media {
	width: 40vw;
}

#summer-collection .container .sc-media .sc-media-bg {
	width: 100%;
	height: auto;
	padding-top: 3vw;
}

#summer-collection .container .sc-media .sc-media-bg img {
	width: 100%;
	height: auto;
}

@media only screen and (max-width: 1024px) {
	#summer-collection {
		width: 100vw;
		display: block;
		margin-top: 0rem;
	}
	#summer-collection .container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	#summer-collection .container .sc-content {
		width: 80vw;
		padding: 8rem 2rem 2rem;
	}
	#summer-collection .container .sc-media {
		width: 80vw;
	}
	#summer-collection .container .sc-content h1 {
		font-size: 5.6vw;
		letter-spacing: 1rem;
		line-height: 4rem;
	}
}

@media only screen and (max-width: 768px) {
	#summer-collection .container .sc-content h1 {
		font-size: 5.6vw;
		letter-spacing: 0.6rem;
		line-height: 2.4rem;
		margin-bottom: 1rem;
	}
}

@media only screen and (max-width: 480px) {
	#summer-collection .container .sc-content p.description {
		font-size: 1rem;
		line-height: 1.8rem;
		margin-bottom: 4vw;
		padding-right: 1.2rem;
		text-align: justify;
		margin-bottom: 2rem;
	}
}

#products {
	width: 100%;
}

#products .container {
	display: block;
	width: 80%;
	margin: 0 auto;
	font-size: 0;
}

#products .container .products-header {
	font-size: 16px;
	text-align: center;
	margin-bottom: 3rem;
}

#products .container .products-header h2 {
	padding: 2rem 1rem;
	text-transform: uppercase;
	font-family: "Franklin Gothic Medium";
	color: #000000;
	font-size: 1.875rem;
	font-weight: 400;
	letter-spacing: 0.2rem;
	line-height: 1;
	text-align: center;
}

#products .container .products-header p {
	font-family: Cambria;
	color: rgba(89, 89, 89, 1);
	font-size: 1rem;
	font-style: italic;
	line-height: 1.5;
	text-align: center;
}

#products .container .product {
	width: 25%;
	display: inline-block;
	font-size: 16px;
	text-align: center;
	padding: 1.8rem;
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

#products .container .product:hover {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	opacity: 0.8;
	-webkit-transition: opacity 800ms ease-in-out 0s;
	transition: opacity 800ms ease-in-out 0s;
	-webkit-transition: -webkit-transform 1s ease-in-out 0s;
	transition: -webkit-transform 1s ease-in-out 0s;
	transition: transform 1s ease-in-out 0s;
	transition: transform 1s ease-in-out 0s, -webkit-transform 1s ease-in-out 0s;
	cursor: pointer;
}

#products .container .product figure img {
	width: 100%;
	height: auto;
}

#products .container .product figure figcaption {
	font-family: "Franklin Gothic Medium";
	color: rgba(89, 89, 89, 1);
	font-size: 0.8rem;
	font-weight: 600;
	letter-spacing: 0.02rem;
	text-align: center;
	padding: 1rem 0rem 0rem;
	text-transform: uppercase;
}

@media only screen and (max-width: 1024px) {
	#products .container .product {
		width: 50%;
		padding: 3rem;
	}
}

@media only screen and (max-width: 768px) {
	#products .container .product {
		width: 50%;
		padding: 2rem;
	}
}

@media only screen and (max-width: 480px) {
	#products .container .product {
		width: 100%;
	}
}

#collections {
	width: 100%;
	display: block;
	margin: 6rem 0rem;
	/*  background-color:  #f5f2f1;*/
	padding: 1.4rem 0rem;
}

#collections .container {
	margin: 0 auto;
	width: 80%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

#collections .container .c-1 {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 3rem 0rem 0rem 1rem;
	/*  background-color:  #f5f2f1;*/
}

#collections .container .c-1 .c-1-image-holder {
	width: 100%;
	height: auto;
}

#collections .container .c-1 .c-1-image-holder img {
	width: 100%;
	height: auto;
}

#collections .container .c-2 .c-2-image-holder {
	width: 45%;
	height: auto;
	margin: 3rem auto;
}

#collections .container .c-2 .c-2-image-holder img {
	width: 100%;
	height: auto;
}

#collections .container .c-2 {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 1rem;
	/*  background-color:  #f5f2f1;*/
}

#collections .container .c-2 h2 {
	padding: 1rem 0rem;
	text-align: right;
	font-family: "Franklin Gothic Medium";
	font-size: 1.8rem;
	letter-spacing: 0.094rem;
	text-transform: uppercase;
}

#collections .container .c-2 hr {
	width: 30%;
	margin-left: 70%;
	display: block;
	height: 1px;
	border: 0;
	border-top: 0.1rem solid #a61458;
	padding: 0;
	margin-bottom: 4rem;
}

#collections .container .c-2 p.button {
	background-color: #e6b58f;
	-webkit-box-shadow: 0px 1px 3.92px 0.08px rgba(204, 204, 153, 0.35);
	box-shadow: 0px 1px 3.92px 0.08px rgba(204, 204, 153, 0.35);
	width: 45%;
	text-align: center;
	padding: 0.8rem 0.2rem;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 0.7rem;
	margin: 0 auto;
	margin-right: -1%;
	font-weight: 600;
	letter-spacing: 0.1rem;
}

#collections .container .c-2 p.button:hover {
	cursor: pointer;
	background-color: #ffffff;
	color: #ff981f;
	-webkit-transition: background-color 1s ease-in-out 0s;
	-o-transition: background-color 1s ease-in-out 0s;
	transition: background-color 1s ease-in-out 0s;
	-webkit-transition: color 400ms ease-in-out 0s;
	-o-transition: color 400ms ease-in-out 0s;
	transition: color 400ms ease-in-out 0s;
}

#collections .container .c-2 .left {
	position: relative;
	right: -6rem;
	-webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}

#collections .container .c-2 .right {
	position: relative;
	top: -2rem;
	right: 2rem;
	-webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 1024px) {
	#collections .container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	#collections .container .c-1 {
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
		padding: 4rem 0rem 0rem 0rem;
	}
	#collections .container .c-2 .c-2-image-holder {
		width: 50%;
		height: auto;
		margin: 3rem auto;
	}
}

@media only screen and (max-width: 768px) {
	#collections .container .c-2 .c-2-image-holder {
		width: 70%;
		height: auto;
		margin: 3rem auto;
	}
	#collections .container .c-2 .left {
		position: relative;
		right: 0rem;
		margin-bottom: 2rem;
	}
	#collections .container .c-2 .right {
		position: relative;
		top: 0rem;
		right: 0rem;
	}
	#collections .container .c-2 p.button {
		width: 60%;
		padding: 0.8rem 2rem;
	}
}

#blog {
	width: 100%;
	display: block;
	margin: 6rem 0rem 0rem;
	background-color: #f2f2f2;
	padding: 3rem 0rem 6rem;
}

#blog .container {
	margin: 0 auto;
	width: 80%;
	background-color: #f2f2f2;
}

#blog .container .blog-header {
	text-align: center;
	margin-bottom: 3rem;
}

#blog .container .blog-header h2 {
	padding: 2rem 1rem;
	text-transform: uppercase;
	font-family: "Franklin Gothic Medium";
	color: #000000;
	font-size: 1.875rem;
	font-weight: 400;
	letter-spacing: 0.2rem;
	line-height: 1;
	text-align: center;
}

#blog .container .blog-header p {
	font-family: Cambria;
	color: rgba(89, 89, 89, 1);
	font-size: 1rem;
	font-style: italic;
	line-height: 1.5;
	text-align: center;
}

#blog .container .blog-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

#blog .container .blog-content .blog-1 {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 2rem 0rem;
	padding-left: 5%;
}

#blog .container .blog-content .blog-1 .blog-1-image-holder {
	width: 45%;
	height: auto;
	font-size: 16px;
}

#blog .container .blog-content .blog-1 .blog-1-image-holder img {
	width: 100%;
	height: auto;
}

#blog .container .blog-content .blog-1 .blog-1-content {
	width: 50%;
	background-color: #fff;
	margin-left: -10%;
	margin-top: 4%;
	padding: 4%;
	-webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
}

#blog .container .blog-content .blog-1 .blog-1-content h4 {
	text-transform: uppercase;
	color: #999999;
	font-weight: 400;
	font-size: 0.8rem;
	margin-bottom: 1rem;
}

#blog .container .blog-content .blog-1 .blog-1-content h3 {
	text-transform: uppercase;
	padding-bottom: 6%;
}

#blog .container .blog-content .blog-1 .blog-1-content p.description {
	font-family: Cambria;
	font-style: italic;
	padding-bottom: 8%;
}

#blog .container .blog-content .blog-1 .blog-1-content p.button {
	width: 50%;
	text-align: center;
	font-size: 0.7rem;
	text-transform: uppercase;
	font-weight: 500;
	padding: 4%;
	color: #fff;
	background-color: rgba(166, 20, 88, 0.8);
	-webkit-box-shadow: 0px 1px 3.84px 0.16px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 1px 3.84px 0.16px rgba(0, 0, 0, 0.35);
}

#blog .container .blog-content .blog-1 .blog-1-content p.button:hover {
	cursor: pointer;
	background-color: #ffffff;
	color: rgba(166, 20, 88, 0.8);
	-webkit-transition: background-color 1s ease-in-out 0s;
	-o-transition: background-color 1s ease-in-out 0s;
	transition: background-color 1s ease-in-out 0s;
	-webkit-transition: color 400ms ease-in-out 0s;
	-o-transition: color 400ms ease-in-out 0s;
	transition: color 400ms ease-in-out 0s;
}

#blog .container .blog-content .blog-2 {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 2rem 0rem;
	padding-left: 5%;
}

#blog .container .blog-content .blog-2 .blog-2-image-holder {
	width: 45%;
	height: auto;
}

#blog .container .blog-content .blog-2 .blog-2-image-holder img {
	width: 100%;
	height: auto;
}

#blog .container .blog-content .blog-2 .blog-2-content {
	width: 50%;
	background-color: #fff;
	margin-left: -10%;
	margin-top: 4%;
	padding: 4%;
	-webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
}

#blog .container .blog-content .blog-2 .blog-2-content h4 {
	text-transform: uppercase;
	color: #999999;
	font-weight: 400;
	font-size: 0.8rem;
	margin-bottom: 1rem;
}

#blog .container .blog-content .blog-2 .blog-2-content h3 {
	text-transform: uppercase;
	padding-bottom: 6%;
}

#blog .container .blog-content .blog-2 .blog-2-content p.description {
	font-family: Cambria;
	font-style: italic;
	padding-bottom: 8%;
}

#blog .container .blog-content .blog-2 .blog-2-content p.button {
	width: 50%;
	text-align: center;
	font-size: 0.7rem;
	text-transform: uppercase;
	font-weight: 500;
	padding: 4%;
	color: #fff;
	background-color: rgba(166, 20, 88, 0.8);
	-webkit-box-shadow: 0px 1px 3.84px 0.16px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 1px 3.84px 0.16px rgba(0, 0, 0, 0.35);
}

#blog .container .blog-content .blog-2 .blog-2-content p.button:hover {
	cursor: pointer;
	background-color: #ffffff;
	color: rgba(166, 20, 88, 0.8);
	-webkit-transition: background-color 1s ease-in-out 0s;
	-o-transition: background-color 1s ease-in-out 0s;
	transition: background-color 1s ease-in-out 0s;
	-webkit-transition: color 400ms ease-in-out 0s;
	-o-transition: color 400ms ease-in-out 0s;
	transition: color 400ms ease-in-out 0s;
}

@media only screen and (max-width: 1024px) {
	#blog .container .blog-content {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	#blog .container .blog-content .blog-1 {
		-ms-flex-preferred-size: auto;
		flex-basis: auto;
		margin-bottom: 8%;
	}
	#blog .container .blog-content .blog-2 {
		-ms-flex-preferred-size: auto;
		flex-basis: auto;
	}
	#blog .container .blog-content .blog-1 .blog-1-image-holder {
		width: 45%;
		height: auto;
		font-size: 16px;
		margin-left: 5%;
	}
	#blog .container .blog-content .blog-2 .blog-2-image-holder {
		width: 45%;
		height: auto;
		font-size: 16px;
		margin-left: 5%;
	}
}

@media only screen and (max-width: 480px) {
	#blog .container .blog-content .blog-1 {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	#blog .container .blog-content .blog-1 .blog-1-image-holder {
		width: 100%;
		height: auto;
	}
	#blog .container .blog-content .blog-1 .blog-1-image-holder {
		margin-left: 0%;
	}
	#blog .container .blog-content .blog-1 .blog-1-content {
		width: 100%;
		margin-left: 0%;
		margin-top: -1%;
		padding: 8%;
	}
	#blog .container .blog-content .blog-1 .blog-1-content p.button {
		font-size: 0.6rem;
		padding: 4%;
	}
	#blog .container .blog-content .blog-2 {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	#blog .container .blog-content .blog-2 .blog-2-image-holder {
		width: 100%;
		height: auto;
	}
	#blog .container .blog-content .blog-2 .blog-2-image-holder {
		margin-left: 0%;
	}
	#blog .container .blog-content .blog-2 .blog-2-content {
		width: 100%;
		margin-left: 0%;
		margin-top: -1%;
		padding: 8%;
	}
	#blog .container .blog-content .blog-2 .blog-2-content p.button {
		font-size: 0.6rem;
		padding: 4%;
	}
}

#contact {
	width: 100%;
	height: auto;
	background-color: #e6b58f;
}

#contact .container {
	width: 80%;
	margin: 0 auto;
	display: block;
	padding-bottom: 2rem;
	text-transform: capitalize;
}

#contact .container h4 {
	font-family: "Franklin Gothic Medium";
	color: #ffffff;
	font-size: 1.125rem;
	font-weight: 400;
	letter-spacing: 0.056rem;
	text-align: center;
	text-transform: uppercase;
	padding-top: 3rem;
	padding-bottom: 2rem;
}

#contact .container p {
	font-family: Cambria;
	color: #ffffff;
	font-size: 0.875rem;
	font-weight: 400;
	letter-spacing: 0.044rem;
	text-align: center;
	padding: 0.2rem 0rem;
}

#contact .container p.email {
	margin: 0 auto;
	margin-top: 16rem;
	border-bottom: 1px solid white;
	text-align: left;
	width: 40%;
}

#contact .container p.email span {
	width: 17px;
	height: 15px;
	float: right;
}

#contact .container p.email span img {
	width: 17px;
	height: auto;
}

/* 

























/* /product card */
.shop {
  margin: 0 40px;
  display: flex;
  column-gap: 40px
}

.product_card {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px
}

.card {
  width: 240px;
  height: 360px;
  padding: 10px;
  border: 1px solid #b8b8b8;
  border-radius: 10px;
  transition: all .5s ease-in-out;
}

.card:hover {
  transform: scale(1.04);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}

.card_image {
  width: 220px;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;

}

.card_image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.card_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: green
}

.cart_icon {
  background: lightblue;
  border-radius: 50%;
  font-size: 30px;
  padding: 5px;
}


@media screen and (max-width:480px) {
  .sidebar {
    display: none;
  }

  .product_card {
  
    margin: 0 0;
    grid-template-columns: 1fr;
  }
}


/* cart */

.cart_card {
  color: green;
  width: 1000px;
  display: flex;
  border-radius: 10px;
  padding: 10px 8px;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.cart_card .left_side {
  display: flex;
  width: 300px;
  column-gap: 10px;
}

.left_side .cart_image {
  width: 150px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;

}

.right_side {
  display: flex;
  column-gap: 10px;
}





.btn_qty {
  background: lightBlue;
  border: none;
  border-radius: 5px;
  padding: 5px 8px;
  color: red;
}

.right_side .btn_remove {
  background: lightBlue;
  border: none;
  border-radius: 5px;
  padding: 5px 8px;
  color: red;
}






/* filter */

.select_prod {
  margin: 40px 0;
}

.select_prod select {
  margin-top: 10px;
  padding: 0 5px;
}

.prod_category span {
  display: block;
  margin-top: 10px;
}

.prod_price {
  margin: 40px 0;
}





/* singleproduct */


.single_card {

  min-height: calc(100vh - 500px);
  width: 70%;
  column-gap: 30px;
  margin-inline: auto;
  display: flex;
  margin-bottom: 50px;
}

.single_card h4,
p {
  margin: 7px 0;
}

.single_image {
  width: 400px;
  border-radius: 10px;

  height: 300px
}

.main_image {
  overflow: hidden;
  border: 1px solid #b8b8b8;
  border-radius: 15px;
  padding: 2px;
}

.single_sub_image {
  display: flex;
  column-gap: 10px;


}

.image_down {
  width: 190px;
  height: 90px;
  overflow: hidden;
  border-radius: 5px;

}

.single_body {
  width: 500px;
}

.icon{
  color:orange
}

.information{
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(3,1fr);

}

.info{
  
  background: #dcdcdc;
  border-radius: 50%;
  font-size: 30px;
  padding: 5px;
  margin-top:20pxc;
}



@media screen and (max-width:480px) {
  .single_card {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
  .single_body{
    width: 100%;
  }
  .icon{
    margin-top: 80px;
  }
  .information{
    grid-template-rows: 1fr;
  }
}

/* /sign in */
.btn_signin button{
  background: transparent;
  border: none;
  color: tomato;
  cursor: pointer;
}
.profile_img{
  width:40px;
  height: 40px;
  border-radius:50%;
  overflow: hidden;
}






/* Footer */












/* not found */

.page_found {
  height: calc(100vh - 500px);
}

footer {
  position: absolute;
  width: 100%;
  margin-top: 5rem;
  padding-top: 5rem;
  font-size: .9rem;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}

.footer-container {
  display: grid;
  grid-template-columns: 26rem 1fr 1fr 1fr;
  gap: 6rem;
}

.logo {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.footer-container article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .7rem;
}

.footer-container article p {
  margin-top: .5rem;
}

.footer-container article h4 {
  margin-bottom: .6rem;
  font-size: 1rem;
}

.footer-socials {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.footer-socials a {
  background-color: var(--color-gray-100);
  padding: .5rem .7rem;
  border: 1px solid transparent;
  border-radius: .6rem;
  transition: var(--transition);

}

.footer-socials a svg {
  color: var(--color-gray-600);
}

.footer-socials a:hover {
  border-color: var(--color-gray-100);
  background: transparent;
}

.footer-copyright {

  text-align: center;
  padding: 1.5rem 0;
  border-top: 2px solid grey;

}




/* Media queries (medium screen) */
@media screen and (max-width:1024px) {
  .main-header {
    height: fit-content;
    padding: 12rem 0;
  }

  .main-header-container {
    gap: 0;
  }

  .main-header-circle {
    width: 16rem;
    height: 16rem;
  }

  /* program */
  .programs-wrapper {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 4rem;
  }

  /* values */
  .values-container {
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 4rem;
  }

  .values-wrapper {
    gap: 4rem 3rem;
  }

  .values-image {
    display: none;
  }

  /* FAQS */
  .faqs-wrapper {
    grid-template-columns: 1fr;
  }

  /* testimonials */
  .testimonials {
    width: 75%;
  }


  /* footer */
  .footer-container {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
}






/* small screen */

@media screen and (max-width:600px) {
  .main-header {
    margin-top: 0;
    padding: 12rem 0 0;
    height: 100vh;
  }

  .main-header-image,
  .main-header-circle {
    display: none;
  }

  .main-header-container {
    grid-template-columns: 1fr;
  }

  /* program */
  .programs-wrapper {
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-top: 3rem;
  }

  .programs-program {
    width: 84%;
    margin: 0 auto;
  }

  /* values */
  .values-wrapper {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .card.values-value {
    width: 84%;
    margin-inline: auto;
  }

  /* faqs */
  .faqs-wrapper {
    gap: 1rem;
    margin-top: 3rem;
  }

  /* testimonials */
  .testimonials {
    width: 100%;
  }

  /* footer */
  .footer {
    margin-top: 7rem;
  }

  .footer-container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .footer-container article {
    align-items: center;
  }

  .footer-container article p {
    text-align: center;
  }
}